# Main Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.pub-cache/
.pub/
build/
pubspec.lock
doc/api/

# VS Code & IDEA & Atom
.vscode/
.idea
.atom/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode
**/ios/Runner/GeneratedPluginRegistrant.*